/*Global*/
body {
	background-color: white;
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
}

/*Title Bar*/
.tab {
	display: inline-block;
	padding: 10px;
	margin: 20px 10px;
}
button {
	font-size: 24px;
	background-color: deepskyblue;
	color: white;
	padding: 10px 20px;
	margin: 20px 10px;
}
.current {
	background-color: steelblue;
}

/*Columns*/
main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.col {
	padding: 10px;
}
.left {
	width: 20%;
	margin-left: 20px;
}
.right {
	width: 70%;
	margin-right: 20px;
}

/*Select*/
label {
	display: inline-block;
	font-size: 24px;
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
}
select {
	width: 100%;
	font-size: 24px;
	background-color: grey;
	color: white;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
  	appearance: none;
  	padding-right: 25px;
}

/*Car Photo*/
.car {
	margin-top: 20px;
}

/*Selection array*/
.arr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.arr select {
	width: 20%;
	font-size: 24px;
	background-color: grey;
	color: white;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
  	appearance: none;
  	padding-right: 25px;
}
.help {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.help img {
	width: 80%;
}