/*Global*/
body {
	background-color: white;
	margin: 0;
	padding: 0;
}
img {
	width: 80%;
}

/*Title Bar*/
.tab {
	display: inline-block;
	padding: 10px;
	margin: 20px 10px;
}
button {
	font-size: 24px;
	background-color: deepskyblue;
	color: white;
	padding: 10px 20px;
	margin: 20px 10px;
}
.current {
	background-color: steelblue;
}

/*Columns*/
main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.col {
	padding: 10px;
}
.left {
	width: 15%;
	margin-left: 20px;
}
.right {
	width: 70%;
	margin-right: 20px;
}

/*Selection Area*/
label {
	display: inline-block;
	font-size: 24px;
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
}
select {
	width: 100%;
	font-size: 24px;
	background-color: grey;
	color: white;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
  	appearance: none;
  	padding-right: 25px;
}

/*Info Area*/
.contact {
	isplay: inline-block;
	font-size: 24px;
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
}
.info {
	width: 100%;
	font-size: 24px;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

/*Inspection*/
.box {
	width: 50%;
    border: 1px solid black;
    padding-left: 10px;
}
p {
	font-size: 24px;
}
.angle {
	width: 25%;
	margin-right: 5%;
	margin-top: 20px;
}

